fastapi>=0.110.0
uvicorn>=0.28.0
onnxruntime>=1.17.0
opencv-python-headless>=4.9.0.80
numpy>=1.24.0
torch>=2.2.0
transformers>=4.38.0
safetensors>=0.4.2
streamlit>=1.25.0
onnxscript>=0.1.0
onnx>=1.17.0